#navbarNav {
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  right: 20px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

.nav-link {
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.navbar-brand{
    font-family: 'Montserrat', sans-serif;
}