.Homepage {
    background-image: url(https://i.imgur.com/hFiytek.png);
    background-size: cover;
    height: 400px;
}

.Homepage-h1 {
    color: black;
    font-size: 100px;
    padding-top: 150px;
    font-family: 'Monoton', cursive;
    text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
}   

.aboutme{
    margin: 40px 0 40px 0;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    color: black;
}

.skills{
    margin-bottom: 40px;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    color: black;
}

.education {
    margin-bottom: 40px;
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    color: black;
}

.photo {
    margin: 0 50px 0 100px;
    border: 2px solid black;
    border-radius: 100px;
}


.namecard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 100px 100px 0;
    font-family: 'Karla', sans-serif;
}

.skillscard {
    display: flex;
    flex-direction: row;
    flex-basis: 33%;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 100px 0;
    font-family: 'Karla', sans-serif;
}

.educationcard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 50%;
    right: 50%;
    padding-bottom: 150px;
    font-family: 'Karla', sans-serif;
}

.skills-item {
    margin: 5px;
}
