.Contactpage {
    font-family: 'Karla', sans-serif;
}

.contactpage {
    background-image: url(https://i.imgur.com/qq6hOa2.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.contactpage-h1 {
    color: black;
    font-size: 100px;
    padding-top: 150px;
    font-family: 'Monoton', cursive;
    text-shadow: -1px 0 white, 0 1px black, 1px 0 black, 0 -1px black;
}   

.Contactpage-name {
    font-family: 'Karla', sans-serif;
    font-size: 80px;
    margin: 80px 0 40px 0;
}

.Contactpage-h1{
    margin: 80px 0 100px 0;
}

#email-icon, #github-icon, #li-icon {
    max-height: 25px;
    margin-right: 20px;
}

.contact-items {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.email, .github, .linkedin {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
